<div class="widget widget-heading-simple widget-body-simple">
    @common.dataunavailable()

    <!-- Widget Heading -->
    <div class="widget-head">
        <h4 class="heading glyphicons charts"><i></i>Quick Stats</h4>
    </div>
    <!-- // Widget Heading END -->

    <div class="widget-body">

        <!-- Row -->
        <div class="row-fluid">
            <div class="span2">
                <!-- Stats Widget -->
                <a href="#dashchart_dau_scr" class="widget-stats widget-stats-gray widget-stats-2" data-toggle="tooltip" data-original-title="Monthly Active Users" data-placement="bottom">
                    <span class="count" id="WidgetMau">0</span>
                    <span class="txt">MAU</span>
                </a>
                <!-- // Stats Widget END -->
            </div>
            <div class="span2">
                <!-- Stats Widget -->
                <a href="#dashchart_dau_scr" class="widget-stats widget-stats-2" data-toggle="tooltip" data-original-title="Daily Active Users" data-placement="bottom">
                    <span class="count" id="WidgetDau">0</span>
                    <span class="txt">DAU</span>
                </a>
                <!-- // Stats Widget END -->
            </div>
            <div class="span2">
               <!-- Stats Widget -->
               <a href="#dashchart_sessions" class="widget-stats widget-stats-gray widget-stats-2" data-toggle="tooltip" data-original-title="Average Session Time" data-placement="bottom">
               <span class="count" id="WidgetSessionLength">0</span>
               <span class="txt">Average Session Length</span>
               </a>
               <!-- // Stats Widget END -->
            </div>
            <div class="span2">
               <!-- Stats Widget -->
               <a href="#dashchart_revenue" class="widget-stats widget-stats-2" data-toggle="tooltip" data-original-title="Average Revenue Per User" data-placement="bottom">
               <span class="count" id="WidgetARPU">$0.0</span>
               <span class="txt">ARPU</span>
               </a>
               <!-- // Stats Widget END -->
            </div>
            <div class="span2">
               <!-- Stats Widget -->
               <a href="#dashchart_revenue" class="widget-stats widget-stats-gray widget-stats-2" data-toggle="tooltip" data-original-title="Average Revenue Per Paying User" data-placement="bottom">
               <span class="count" id="WidgetARPPU">$0.0</span>
               <span class="txt">ARPPU</span>
               </a>
               <!-- // Stats Widget END -->
            </div>
            <div class="span2">
               <!-- Stats Widget -->
               <a href="#dashchart_revenue" class="widget-stats widget-stats-2" data-toggle="tooltip" data-original-title="Daily Revenue" data-placement="bottom">
               <span class="count" id="WidgetDailyRevenue">$0</span>
               <span class="txt">Daily Revenue</span>
               </a>
               <!-- // Stats Widget END -->
            </div>
        </div>
        <!-- // Row END -->
    </div>
</div>