<div class="widget widget-heading-simple widget-body-simple">
     <!-- Widget Heading -->
     <div class="widget-head">
         <h4 class="heading glyphicons charts"><i></i>Stats &amp; Charts </h4>
     </div>
     <!-- // Widget Heading END -->

     <div class="widget-body">
         <div class="row-fluid">
             <div class="span3">
                 <!-- Stats Widget -->
                 <a href="#segmentchart_dau" class="widget-stats widget-stats-2" data-toggle="tooltip" data-original-title="Average Daily Active Users" data-placement="bottom">
                     <span class="count" id="SegmentWidgetDau">0</span>
                     <span class="txt">Average DAU</span>
                 </a>
                 <!-- // Stats Widget END -->
             </div>
             <div class="span3">
                <!-- Stats Widget -->
                <a href="#segmentchart_sessions" class="widget-stats widget-stats-gray widget-stats-2" data-toggle="tooltip" data-original-title="Average Session Time" data-placement="bottom">
                <span class="count" id="SegmentWidgetSessionLength">0</span>
                <span class="txt">Average Session Length</span>
                </a>
                <!-- // Stats Widget END -->
             </div>
             <div class="span3">
                <!-- Stats Widget -->
                <a href="#segmentchart_revenue" class="widget-stats widget-stats-2" data-toggle="tooltip" data-original-title="Average Revenue Per User" data-placement="bottom">
                <span class="count" id="SegmentWidgetARPU">$0.0</span>
                <span class="txt">ARPU</span>
                </a>
                <!-- // Stats Widget END -->
             </div>
             <div class="span3">
                <!-- Stats Widget -->
                <a href="#segmentchart_revenue" class="widget-stats widget-stats-gray widget-stats-2" data-toggle="tooltip" data-original-title="Average Revenue Per Paying User" data-placement="bottom">
                <span class="count" id="SegmentWidgetARPPU">$0.0</span>
                <span class="txt">ARPPU</span>
                </a>
                <!-- // Stats Widget END -->
             </div>
         </div>
         <!-- // Row END -->
     </div>
 </div>