@common.front.frame(title = "About MoonGene - Realtime Mobile Analytics for Games and Apps!") {
    @common.front.container {

        <div class="container-960 innerTB">

            <h3 class="glyphicons circle_info margin-none"><i></i>About Us</h3>
            <div class="separator bottom"></div>

            <div class="widget widget-heading-simple widget-body-gray">
                <div class="widget-body"><p class="lead center margin-none"><b>Our Goals</b></p></div>
            </div>

            <div class="row-fluid">
                <div class="span6">

                    <div class="widget widget-heading-simple widget-body-white">
                        <div class="widget-body">
                            <div class="innerL">
                                <div class="separator bottom"></div>
                                <div class="glyphicons glyphicon-large gamepad">
                                    <i></i>
                                    <h4>Tailor for games</h4>
                                    <p style="color: #333333">Excellence in mobile games analysis. MoonGene analytics was created from the ground up for mobile games.</p>
                                </div>
                                <div class="separator bottom"></div>
                                <div class="glyphicons glyphicon-large group">
                                    <i></i>
                                    <h4>User's behavior</h4>
                                    <p style="color: #333333">User's behavior is a key to game's success. One of a kind to analyze in game user's behavior. Multiple aspects of user's behavior, from the first session to economy analysis.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="span6">

                    <div class="widget widget-heading-simple widget-body-white">
                        <div class="widget-body">

                            <div class="separator bottom"></div>
                            <div class="glyphicons glyphicon-large iphone">
                                <i></i>
                                <h4 >Mobile First</h4>
                                <p style="color: #333333">We target only mobile users and so are picking the most important aspects of mobile games and apps for analysis.</p>
                            </div>

                            <div class="separator bottom"></div>
                            <div class="glyphicons glyphicon-large magic group-column">
                                <i></i>
                                <h4>Unique features</h4>
                                <p style="color: #333333">Provide only top notch features that you can't find anywhere else. Analyze economy, behavior, geo and cohorts with just a few simple calls.</p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <p class="separator text-center"><i class="icon-ellipsis-horizontal icon-3x"></i></p>
            <div class="separator bottom"></div>


        </div>
    }
}