@common.front.container {
<div id="landing_2">

	<div class="fullwidthbanner-container">
		<div class="fullwidthbanner">
			<ul>

				<!-- THE FOURTH SLIDE -->
				<li data-transition="3dcurtain-vertical" data-slotamount="1" data-masterspeed="500" class="slide-1">

						<img src="@routes.Assets.at("images/front/slides/bg-bricks.jpg")"/>

						<div class="caption large_text sft"
							 data-x="30"
							 data-y="54"
							 data-speed="300"
							 data-start="800"
							 data-easing="easeOutExpo">MOBILE GAMES</div>

						<div class="caption medium_text sfl"
							 data-x="59"
							 data-y="92"
							 data-speed="300"
							 data-start="1100"
							 data-easing="easeOutExpo">AND</div>

						<div class="caption large_text sfr"
							 data-x="108"
							 data-y="88"
							 data-speed="300"
							 data-start="1100"
							 data-easing="easeOutExpo"><span class="text-primary">APPS ANALYTICS</span></div>

						 <div class="tp-caption text_white sfr"
							 data-x="30"
							 data-y="157"
							 data-speed="600"
							 data-start="2300"
							 data-easing="easeOutExpo">
							 <p>MoonGene realtime analytics has been created specifically for<br/>
                                 mobile games and include numerous features tailored for them. One of<br/>
                                 a kind in the world of analytics with unique features.</p>
							 <p>A team of veterans in web and games development created a solution that is<br/>
                                 the ultimate destination for all developers and publishers who want to have<br/>
                                 everything in one place - behavior, economy balance, learning curve - all in one.</p>
							</div>

						<div class="caption lfl"
							 data-x="606"
							 data-y="0"
							 data-speed="300"
							 data-start="1400"
							 data-easing="easeOutExpo"><img src="@routes.Assets.at("images/front/slides/slide-1-desktop.png")" alt="Image 4"></div>

						<div class="caption lfb"
							 data-x="554"
							 data-y="181"
							 data-speed="1000"
							 data-start="1500"
							 data-easing="easeOutExpo"><img src="@routes.Assets.at("images/front/slides/slide-1-tablet.png")" alt="Image 5"></div>

						<div class="caption lfl"
							 data-x="522"
							 data-y="285"
							 data-speed="1000"
							 data-start="1600"
							 data-easing="easeOutExpo"><img src="@routes.Assets.at("images/front/slides/slide-1-phone.png")" alt="Image 6"></div>
				</li>

				<li data-transition="flyin" data-slotamount="10" data-masterspeed="300">

							<img src="@routes.Assets.at("images/front/slides/bg-bricks.jpg")"/>

							<div class="caption large_text sfb"
								 data-x="center"
								 data-y="47"
								 data-speed="300"
								 data-start="800"
								 data-easing="easeOutExpo">MORE THAN <span class="text-primary">30</span> VARIOUS METRICS</div>

							<div class="caption randomrotate"
								 data-x="center"
								 data-hoffset="48"
								 data-y="131"
								 data-speed="600"
								 data-start="1100"
								 data-easing="easeOutExpo"><img src="@routes.Assets.at("images/front/slides/thumbs/1.jpg")" style="width: 100px;" class="thumb containerBg" alt="Image 12"></div>

							<div class="caption randomrotate"
								 data-x="center"
								 data-hoffset="90"
								 data-y="206"
								 data-speed="600"
								 data-start="1200"
								 data-easing="easeOutExpo"><img src="@routes.Assets.at("images/front/slides/thumbs/2.jpg")" style="width: 100px;" class="thumb containerBg" alt="Image 12"></div>

							<div class="caption randomrotate"
								 data-x="center"
								 data-hoffset="205"
								 data-y="140"
								 data-speed="600"
								 data-start="1300"
								 data-easing="easeOutExpo"><img src="@routes.Assets.at("images/front/slides/thumbs/3.jpg")" style="width: 100px;" class="thumb containerBg" alt="Image 12"></div>

							<div class="caption randomrotate"
								 data-x="center"
								 data-hoffset="188"
								 data-y="226"
								 data-speed="300"
								 data-start="1400"
								 data-easing="easeOutExpo"><img src="@routes.Assets.at("images/front/slides/thumbs/4.jpg")" style="width: 100px;" class="thumb containerBg" alt="Image 12"></div>

							<div class="caption randomrotate"
								 data-x="center"
								 data-hoffset="-55"
								 data-y="256"
								 data-speed="600"
								 data-start="1500"
								 data-easing="easeOutExpo"><img src="@routes.Assets.at("images/front/slides/thumbs/5.jpg")" style="width: 100px;" class="thumb containerBg" alt="Image 12"></div>

							<div class="caption randomrotate"
								 data-x="center"
								 data-hoffset="-153"
								 data-y="229"
								 data-speed="300"
								 data-start="1600"
								 data-easing="easeOutExpo"><img src="@routes.Assets.at("images/front/slides/thumbs/6.jpg")" style="width: 100px;" class="thumb containerBg" alt="Image 12"></div>

							<div class="caption randomrotate"
								 data-x="center"
								 data-hoffset="255"
								 data-y="224"
								 data-speed="300"
								 data-start="1700"
								 data-easing="easeOutExpo"><img src="@routes.Assets.at("images/front/slides/thumbs/7.jpg")" style="width: 100px;" class="thumb containerBg" alt="Image 12"></div>

							<div class="caption randomrotate"
								 data-x="center"
								 data-hoffset="275"
								 data-y="166"
								 data-speed="300"
								 data-start="1800"
								 data-easing="easeOutExpo"><img src="@routes.Assets.at("images/front/slides/thumbs/8.jpg")" style="width: 100px;" class="thumb containerBg" alt="Image 12"></div>

							<div class="caption randomrotate"
								 data-x="center"
								 data-hoffset="-173"
								 data-y="129"
								 data-speed="300"
								 data-start="1600"
								 data-easing="easeOutExpo"><img src="@routes.Assets.at("images/front/slides/thumbs/9.jpg")" style="width: 100px;" class="thumb containerBg" alt="Image 12"></div>

							<div class="caption randomrotate"
								 data-x="center"
								 data-hoffset="-255"
								 data-y="244"
								 data-speed="300"
								 data-start="1700"
								 data-easing="easeOutExpo"><img src="@routes.Assets.at("images/front/slides/thumbs/10.jpg")" style="width: 100px;" class="thumb containerBg" alt="Image 12"></div>

							<div class="caption randomrotate"
								 data-x="center"
								 data-hoffset="-275"
								 data-y="166"
								 data-speed="300"
								 data-start="1800"
								 data-easing="easeOutExpo"><img src="@routes.Assets.at("images/front/slides/thumbs/11.jpg")" style="width: 100px;" class="thumb containerBg" alt="Image 12"></div>

							<div class="caption randomrotate"
								 data-x="center"
								 data-hoffset="-55"
								 data-y="126"
								 data-speed="600"
								 data-start="1500"
								 data-easing="easeOutExpo"><img src="@routes.Assets.at("images/front/slides/thumbs/12.jpg")" style="width: 100px;" class="thumb containerBg" alt="Image 12"></div>

				</li>

				<!-- THE SECOND SLIDE -->
				<li data-transition="papercut" data-slotamount="15" data-masterspeed="300" data-delay="9400">

							<img src="@routes.Assets.at("images/front/slides/bg-bricks.jpg")"/>

							<div class="caption large_text lfl stl"
								 data-x="30"
								 data-y="303"
								 data-speed="300"
								 data-start="500"
								 data-easing="easeOutExpo" data-end="8800" data-endspeed="300" data-endeasing="easeInSine" >DETAILED INFORMATION</div>

							<div class="caption big_white lfl stl"
								 data-x="30"
								 data-y="343"
								 data-speed="300"
								 data-start="800"
								 data-easing="easeOutExpo" data-end="9100" data-endspeed="300" data-endeasing="easeInSine" >AND UNIQUE FEATURES</div>

							<div class="caption lft ltb"
								 data-x="600"
								 data-y="center"
								 data-speed="600"
								 data-start="1100"
								 data-easing="easeOutExpo" data-end="3100" data-endspeed="600" data-endeasing="easeInSine" ><img src="@routes.Assets.at("images/front/slides/slide3-appflow.png")" style="width: 282px;" class="thumb containerBg" alt="App Flow"></div>

							<div class="caption big_white sft stb"
								 data-x="820"
								 data-y="300"
								 data-speed="300"
								 data-start="1400"
								 data-easing="easeOutExpo" data-end="3300" data-endspeed="300" data-endeasing="easeInSine" >App Flow</div>

							<div class="caption big_black sfb stb"
								 data-x="820"
								 data-y="330"
								 data-speed="300"
								 data-start="1700"
								 data-easing="easeOutExpo" data-end="3200" data-endspeed="300" data-endeasing="easeInSine" >&amp; timelines</div>

							<div class="caption lft ltb"
								 data-x="600"
								 data-y="center"
								 data-speed="600"
								 data-start="3600"
								 data-easing="easeOutExpo" data-end="5600" data-endspeed="600" data-endeasing="easeInSine" ><img src="@routes.Assets.at("images/front/slides/slide3-purchasetrigger.png")" style="width: 500px;" class="thumb containerBg" alt="Purchase Trigger"></div>

							<div class="caption big_white sft stb"
								 data-x="820"
								 data-y="300"
								 data-speed="300"
								 data-start="3900"
								 data-easing="easeOutExpo" data-end="5800" data-endspeed="300" data-endeasing="easeInSine" >Purchase Trigger</div>

							<div class="caption big_black sfb stb"
								 data-x="820"
								 data-y="330"
								 data-speed="300"
								 data-start="4200"
								 data-easing="easeOutExpo" data-end="5700" data-endspeed="300" data-endeasing="easeInSine" >analysis</div>

							<div class="caption lft ltb"
								 data-x="600"
								 data-y="center"
								 data-speed="600"
								 data-start="6100"
								 data-easing="easeOutExpo" data-end="8100" data-endspeed="300" data-endeasing="easeInSine" ><img src="@routes.Assets.at("images/front/slides/slide3-versions.png")" style="width: 500px;" class="thumb containerBg" alt="Per Version Details"></div>

							<div class="caption big_white sft stb"
								 data-x="820"
								 data-y="300"
								 data-speed="300"
								 data-start="6400"
								 data-easing="easeOutExpo" data-end="8300" data-endspeed="300" data-endeasing="easeInSine">Per Version</div>

							<div class="caption big_black sfb stb"
								 data-x="820"
								 data-y="330"
								 data-speed="300"
								 data-start="6700"
								 data-easing="easeOutExpo" data-end="8200" data-endspeed="300" data-endeasing="easeInSine" >details</div>
					</li>

			</ul>
			<div class="tp-bannertimer tp-bottom"></div>
		</div>
	</div>
	<div class="mosaic-line mosaic-line-2">
		<div class="container-960 center">
			<h2 class="margin-none">Features you will enjoy!</h2>
		</div>
	</div>
	<div class="container">
		<div class="innerT">
			<div class="row-fluid">
				<div class="span3">
					<div class="widget widget-heading-simple widget-body-white">
						<div class="widget-body">
							<div class="glyphicons glyphicon-xlarge glyphicon-top display">
								<i></i>
								<h4>Dashboard</h4>
								<p class="margin-none">The <b>realtime dashboard</b> provides immediate access to all of the basic stats you would like to know, such as <b>revenue, users activity, etc.</b></p>
							</div>
						</div>
					</div>
				</div>
				<div class="span3">
					<div class="widget widget-heading-simple widget-body-gray">
						<div class="widget-body">
							<div class="glyphicons glyphicon-xlarge glyphicon-top notes">
								<i></i>
								<h4>Basic Analytics</h4>
								<p class="margin-none">Basic analytics are <b>segmentation, retention with cohort analysis and geo data</b> and can be used for both games and regular mobile apps. </p>
							</div>
						</div>
					</div>
				</div>
				<div class="span3">
					<div class="widget widget-heading-simple widget-body-white">
						<div class="widget-body">
							<div class="glyphicons glyphicon-xlarge glyphicon-top fire">
								<i></i>
								<h4>Game Analytics</h4>
								<p class="margin-none">Tailored for games, game analytics opens a new dimension to analyze <b>user's activity. Game economy balance, behavior &amp; and more!</b></p>
							</div>
						</div>
					</div>
				</div>
				<div class="span3">
					<div class="widget widget-heading-simple widget-body-gray">
						<div class="widget-body">
							<div class="glyphicons glyphicon-xlarge glyphicon-top claw_hammer">
								<i></i>
								<h4>Easy Integration</h4>
								<p class="margin-none">We provide <b>easy integration tools</b> and a <b>light weight SDK</b>. It takes <b>less than half an hour</b> to start seeing metrics coming in.</p>
							</div>
						</div>
					</div>
				</div>
			</div>

            <div class="separator bottom"></div>

		</div>
	</div>
</div>
}
