@common.front.frame(title = "MoonGene Features - Realtime Mobile Analytics for Games and Apps!") {
@common.front.container {
<div class="container-960 innerTB">

    <h3 class="glyphicons circle_info margin-none"><i></i>Features</h3>
    <div class="separator bottom"></div>

    <div class="row innerTB">
        <div class="span7">
            <div class="separator bottom"></div>
            <div class="glyphicons glyphicon-large display">
                <i></i>
                <h4>Realtime Dashboard</h4>
                <p>Dashboard displays multiple stats in a convenient format in real time. No longer need to look for values at different places, it is a one destination to start analysis with.<br><br>
                Multiple various stats are available, including MAU, DAU, average session length, average revenue per user, ratios, sessions and many more. Information is always available for all versions, so you can quickly determine whether the new version of your app performs better than the previous one. Aggregated data - average values for all versions - is also available to compare with.
                </p>
            </div>
            <div class="separator bottom"></div>
        </div>
        <div class="span4 pull-right">
            <img src="@routes.Assets.at("images/front/features/dash.jpg")">
        </div>
    </div>

    <div class="separator bottom"></div>

    <div class="row innerTB">
        <div class="span4 pull-left">
            <img src="@routes.Assets.at("images/front/features/geo.jpg")">
        </div>
        <div class="span7">
            <div class="separator bottom"></div>
            <div class="glyphicons glyphicon-large globe">
                <i></i>
                <h4>Geo Analysis</h4>
                <p>Powerful geo data analysis is available instantly. Dive into details around the world and learn your audience's behavior.<br><br>
                Geo Analysis provides behavior tracking for every country, that results in better geo targeting of your ad campaigns. Multiple dimensions to learn from including monthly active users, average session length, average revenue per user and more.
            </div>
            <div class="separator bottom"></div>
        </div>
    </div>

    <div class="separator bottom"></div>

    <div class="row innerTB">
        <div class="span4 pull-right">
            <img src="@routes.Assets.at("images/front/features/segm.jpg")">
        </div>
        <div class="span7">
            <div class="separator bottom"></div>
            <div class="glyphicons glyphicon-large nameplate">
                <i></i>
                <h4>Segmentation</h4>
                <p>Powerful cohorts analysis has multiple dimensions to work with.<br><br>Look deeper at your audience by filtering with geo, device hardware, network, versions and app data information.
            </div>
            <div class="separator bottom"></div>
        </div>
    </div>

    <div class="separator bottom"></div>

    <div class="row innerTB">
        <div class="span4 pull-left">
            <img src="@routes.Assets.at("images/front/features/reten.jpg")">
        </div>
        <div class="span7">
            <div class="separator bottom"></div>
            <div class="glyphicons glyphicon-large magnet">
                <i></i>
                <h4>Retention</h4>
                <p>User your pre-created segments to analyze retention of various users. Just like in segmentation you can also create different cohorts to have a precise look at your audience.<br><br>
                For mobile apps and especially games it is crucial to measure first month retention on certain days. We provide unique look at such information by allowing you to do audience splices and displaying evolution of retention. A traditional table view is also available for your convenience.</p>
            </div>
            <div class="separator bottom"></div>
        </div>
    </div>

    <div class="separator bottom"></div>

    <div class="row innerTB">
        <div class="span4 pull-right">
            <img src="@routes.Assets.at("images/front/features/appflow.jpg")">
        </div>
        <div class="span7">
            <div class="separator bottom"></div>
            <div class="glyphicons glyphicon-large share_alt">
                <i></i>
                <h4>App Flow</h4>
                <p>We do a complex analysis of the application flow. States and timelines on those stats are tracked and presented in a graphical way. A graph is built with timelines, where you can see the distribution of various events across the state. Track your custom events to see what your users do at various times.<br><br>
                Also, first session is recorded to see where people fall off from your app.</p>
            </div>
            <div class="separator bottom"></div>
        </div>
    </div>

    <div class="separator bottom"></div>

    <div class="row innerTB">
        <div class="span4 pull-left">
            <img src="@routes.Assets.at("images/front/features/economy.jpg")">
        </div>
        <div class="span7">
            <div class="separator bottom"></div>
            <div class="glyphicons glyphicon-large coins">
                <i></i>
                <h4>Game World Economy</h4>
                <p>Analyzing game world economy is not an easy task. Seeing difficulty curve, items accumulation and distribution are no trivial things to do when your user base is huge.<br><br>
                Our solution helps you unveil such information. We provide unique way to look at games internal state, you will always know when to start a new campaign or sale, who are your most paying players and what they do in a game.</p>
            </div>
            <div class="separator bottom"></div>
        </div>
    </div>

    <div class="separator bottom"></div>
    <div class="row innerTB">
        <div class="span2"></div>
        <div class="span7">
            <div class="glyphicons glyphicon-large moon">
                <i></i>
                <h4>And many more features! Join for free to start.</h4>
            </div>
        </div>
        <div class="span2"></div>
    </div>
    <div class="separator bottom"></div>
    <div class="separator bottom"></div>
</div>
}
}