@(form: Form[String], posted: Boolean)

@common.front.frame(title = "Forgot Password") {
    @common.front.container {
        <div class="container">
            <div class="wrapper" style="max-width: 654px; min-width: 300px; margin: 0 auto; position: relative;">
                <div class="widget widget-heading-simple widget-body-gray">
                    @if(!posted) {
                    <div class="widget-body">
                        @helper.form(action = routes.Auth.sendResetPasswordLink()) {
                            <label>Enter your Email address</label>
                            <input type="text" name="email" class='input-block-level form-control @if(form("email").hasErrors) { has-error }'
                                   placeholder="" value='@form("email").value.get'>
                            @if(form("email").hasErrors) {
                            <p class="error">
                                @form("email").error.get.message
                            </p>
                            }
                            <div class="separator bottom"></div>

                            <div class="span2 pull-right padding-none">
                                <button class="btn btn-block btn-inverse" type="submit">Reset Password</button>
                            </div>
                        }
                    </div>
                    } else {
                    <div class="widget-body">
                        Message with instructions has been sent. Please, check you email.
                    </div>
                    }
                </div>

            </div>
        </div>
    }
}