@common.front.frame(title = "Page is not found!") {
    @common.front.container {
        <div id="landing_2">
            <div class="innerT">
                <div class="container-960">
                    <div class="hero-unit well">
                        <h1 class="padding-none">Ouch! <span>404 error</span></h1>
                        <hr class="separator" />
                        <div class="row-fluid">
                            <div>
                                <div class="center">
                                    <p>It seems the page you are looking for is not here anymore. The page might have moved to another address or just removed by our staff.</p>
                                </div>
                            </div>
                            <div>
                                <div class="center">
                                    <p>Is this a serious error? <a href="contact.html?lang=en">Let us know</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}