@(newPassword: String, success: Boolean)

@common.front.frame(title = "MoonGene - Realtime Mobile Analytics for Games and Apps!") {
    @common.front.container {
        <div class="container">
            <div class="wrapper" style="max-width: 654px; min-width: 300px; margin: 0 auto; position: relative;">
                <div class="widget widget-heading-simple widget-body-gray">
                    @if(success) {
                    <div class="widget-body">
                        Password has been updated. Your new password - @newPassword.
                    </div>
                    } else {
                    <div class="widget-body">
                        Sorry, your link has been expired or there is no such email.
                    </div>
                    }
                </div>

            </div>
        </div>
    }
}