<p class="separator text-center"><i class="icon-question-sign icon-3x"></i></p>
<div class="separator bottom"></div>
<div class="widget widget-heading-simple widget-body-simple">
    <div class="widget-head"><h4 class="heading glyphicons circle_question_mark strong"><i></i>Common Questions</h4></div>
    <div class="widget-body">
        <div class="accordion accordion-2" id="tabAccountAccordion">

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle glyphicons right_arrow" data-toggle="collapse" data-parent="#tabAccountAccordion" href="#collapse-1-1">
                            <i></i>What is event?
                    </a>
                </div>
                <div id="collapse-1-1" class="accordion-body collapse" style="height: 0px;">
                    <div class="accordion-inner">Every single event that your application sends our analytics service is
                        counted as one event. This can be app start, stop or any other custom events.</div>
                </div>
            </div>

        </div>
    </div>
</div>